@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.filter-container {
  @include tablet {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  @include tablet {
    gap: 2rem;
  }

  .active {
    text-decoration: underline 3px;
    text-decoration-color: var(--link_color);
    text-underline-offset: 7px;
  }
}

.filter-btn {
  background: none;
  border: none;
  color: var(--body_color);
  font-size: 1rem;
  font-weight: 600;
}

.flow {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include tablet {
    gap: 1.5rem;
  }
}

.project {
  @include tablet {
    width: 100%;
  }
}

.project__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.project-list {
  display: grid;
  gap: 1.5rem;

  @include tablet {
    gap: 2.5rem;
  }

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project__img-wrapper {
  width: 100%;
  height: auto;

  margin-bottom: 1rem;
}

.project-img {
  width: 100%;

  object-fit: cover;
  border-radius: 25px;
  @include tablet {
    height: 300px;
  }
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem 0;
}

.project-tag {
  border: 1px var(--body_color) solid;
  padding: 2px 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project-links {
  display: flex;
  gap: 1rem;
  align-items: center;
  @include tablet {
    gap: 2rem;
  }
}

.project-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;

  color: var(--link_color);
  font-size: clamp(0.9rem, 1vw, 1rem);

  @include tablet {
    font-size: 1rem;
  }

  @include desktop {
    font-size: 1rem;
  }
}
