@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.dark_mode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark_mode_label {
  cursor: pointer;
  transition: 0.3s;

  width: 40px;
  height: 40px;
  background: rgb(255, 255, 255, 0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    width: 60px;
    height: 60px;
    font-size: 30px;
  }
}

.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.dark_mode_input:checked + .dark_mode_label {
  animation: rotate 0.5s linear;
  background: #242424;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dark_mode_input:not(:checked) + .dark_mode_label {
  animation: rotate-reverse 0.5s linear;
}

@keyframes rotate-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
