@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 10s linear infinite;
}

.text {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: anim 10s linear infinite;
  font-family: Arial, Helvetica, sans-serif !important;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 100px;
}
