@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.circle {
  position: relative;
  //   background-image: url(./../../assets/icons/logo-lotus.png);
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: 50%;

  width: 150px;
  height: 150px;
  //   background: red;
  border-radius: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation: spin 10s linear infinite;
  transform-origin: center;

  @include tablet {
    width: 200px;
    height: 200px;
  }
}

.text {
  width: 100%;
  height: 100%;
  position: absolute;
  font-family: "Syne", sans-serif !important;
  animation: anim 10s linear infinite;

  text-transform: uppercase;
}

.text p {
  font-family: "Syne", sans-serif !important;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text span {
  position: absolute;

  left: 50%;

  transform-origin: 0 75px;

  @include tablet {
    transform-origin: 0 100px;
  }
}
