@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.about-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  @include tablet {
    flex-direction: row;
    gap: 3rem;
  }
}

.about__img {
  order: 1;
  width: 100%;
  border-radius: 25px;
  object-fit: contain;

  @include tablet {
    width: 50%;
    order: 2;
  }
}

.about__socials {
  display: flex;

  justify-content: space-between;
  font-size: 1.25rem;
  width: 50%;
  //   @include tablet {
  //     font-size: 1.5rem;
  //   }
}

.about__list {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.about__list li {
  list-style: circle;
}

.about__copy {
  order: 2;
  @include tablet {
    order: 1;
  }
}

.about__socials-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  //   background-color: black;
  border: 1px solid var(--body_color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}
