@import "./styles/partials/mixins.scss";
@import "./styles/partials/typography.scss";
@import "./styles/partials/variables.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Nohemi", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

body {
  background: var(--body_background);
  background: var(--body_background_gradient);
  background-repeat: no-repeat;

  color: var(--body_color);
  transition: all 0.3s ease-in-out;
  background-size: 100% 100%;
  min-height: 100vh;
}

a {
  color: var(--link_color);
}

.icon {
  fill: var(--body_color);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 700;

  @include tablet {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;

  @include tablet {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;

  @include tablet {
    font-size: 3rem;
  }
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;

  font-weight: 600;

  @include tablet {
    font-size: 1.5rem;

    margin-bottom: 1rem;
  }
}

h5 {
  font-size: 0.875rem;

  display: inline-block;
  padding: 0.0625rem 1.25rem;
  border-radius: 3.125rem;
  text-align: center;
  border: solid $black 0.0625rem;
  font-weight: 500;
  margin-bottom: 1.5rem;

  @include tablet {
    font-size: 1rem;
  }
}

p,
li {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 400;

  @include tablet {
    font-size: 1.125rem;
  }
}

li {
  margin-bottom: 0 !important;
}
