// @import "./styles/partials/mixins.scss";
// @import "./styles/partials/typography.scss";
// @import "./styles/partials/variables.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  line-height: 1.5;
  transition: all 0.3s ease-in-out;
}

body {
  background-color: var(--body_background);
  color: var(--body_color);
}

a {
  color: var(--link_color);
}
