// @import "./styles/partials/mixins.scss";
// @import "./styles/partials/typography.scss";
// @import "./styles/partials/variables.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  line-height: 1.5;
}
