@import "./styles/partials/mixins.scss";
@import "./styles/partials/typography.scss";
@import "./styles/partials/variables.scss";

:root {
  --body_background: rgb(222, 255, 208);
  --body_background_gradient: linear-gradient(
    144deg,
    rgba(222, 255, 208, 1) 0%,
    rgba(242, 242, 242, 1) 50%,
    rgba(222, 255, 208, 1) 100%
  );

  --body_color: black;
  --link_color: navy;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --body_background: #121212;
  --body_background_gradient: #121212;
  --body_color: white;
  --link_color: #edffe5;
}
