@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.main {
  margin: 1.5rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    flex-direction: row;
    padding: 3rem 3rem;
    gap: 5rem;
  }
  @include desktop {
    height: 50vh;
    max-width: 80rem;
    padding: 20rem 8rem;
    margin: 0 auto;
  }
}
