@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.main,
.about,
.skills,
.projects,
.contact {
  margin: 1.5rem;
  margin-bottom: 5rem;
  display: flex;

  flex-direction: column;

  @include tablet {
    padding: 3rem 3rem;
  }
  @include desktop {
    max-width: 80rem;
    padding: 2.25rem 8rem;
    margin: 0 auto;
  }
}

.about,
.skills,
.projects,
.contact {
  @include desktop {
    margin-bottom: 5rem;
  }
}

.contact {
  max-width: none;
}

.main {
  //   z-index: -10000;

  height: 75vh;
  display: flex;
  justify-content: center;

  @include tablet {
    height: 75vh;
  }

  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;

  &__title {
    font-size: 2rem;
    margin-bottom: 0;
    max-width: 70rem;
    @include tablet {
      font-size: 3rem;
      margin-bottom: 1.5rem;
    }
  }

  @include desktop {
  }
}

.hero {
  &__description {
    font-size: 1.25rem;
    position: relative;

    @include tablet {
      font-size: 1.75rem;
    }
  }
}

.main__circle {
  display: flex;
  justify-content: flex-end;
  position: absolute;

  top: 0;
  left: 0;

  @include tablet {
    top: 50vh;
    left: 50vw;
  }

  @include desktop {
    top: 84vh;

    right: 0;
  }
}

.main__btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--link_color);
  @include tablet {
    font-size: 1.5rem;
  }
}

.arrow-container {
  position: relative;
  width: 50px;
  height: 50px;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounce-right 2s infinite;
}

@keyframes bounce-right {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-100%, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
