@import "./../../styles/partials/mixins.scss";
@import "./../../styles/partials/typography.scss";
@import "./../../styles/partials/variables.scss";

.main,
.skills,
.projects,
.contact {
  margin: 1.5rem;
  margin-bottom: 5rem;
  display: flex;

  flex-direction: column;

  @include tablet {
    padding: 3rem 3rem;
  }
  @include desktop {
    max-width: 80rem;
    padding: 2.25rem 8rem;
    margin: 0 auto;
  }
}

.main {
  margin-top: 6rem;
  @include tablet {
    height: 100vh;
  }
}
